# Binaries for current platform
*.exe
*.dll
*.so
*.dylib

# Test binaries
*_test

bin/

vendor/

# Environment-specific files
.env
.env.*

# Editor or IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.bak
*~

# Go's build cache can create temporary files.
.go-build/

# Go module cache
pkg/mod/

# Log files
*.log
